@use './general/variables' as *;

@import 'bootstrap/scss/bootstrap';
@import '@fontsource/montserrat/index.css';

body{
  font-family: $primary-font;
  min-height: 100vh;
  background-color: $primary-color;
}
img{
  width: 100%;
}